@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  :root {
    --brand-50: #fff4ee;
    --brand-100: #ffdaca;
    --brand-200: #fdbfa4;
    --brand-300: #ff9e72;
    --brand-400: #eb7c47;
    --brand-500: #de6728;
    --brand-600: #d04900;
    --brand-700: #aa4c1a;
    --brand-800: #903a03;
    --brand-900: #7f3100;
    --brand-1000: #722c00;
    --brand-1100: #6a2700;

    --green-50: #f0f5ef;
    --green-100: #d0e6c9;
    --green-200: #b8d9ad;
    --green-300: #90c87e;
    --green-400: #72aa5f;
    --green-500: #459c13;
    --green-600: #338700;
    --green-700: #31770e;
    --green-800: #205c00;
    --green-900: #1e5403;
    --green-1000: #1a4d00;
    --green-1100: #245310;

    --blue-50: #eef2f9;
    --blue-100: #d4e1f3;
    --blue-200: #bdd4f7;
    --blue-300: #9dbbe9;
    --blue-400: #6c9ce5;
    --blue-500: #528adf;
    --blue-600: #1570eb;
    --blue-700: #2065c7;
    --blue-800: #21539c;
    --blue-900: #1b4789;
    --blue-1000: #16407e;
    --blue-1100: #0f3a78;

    --yellow-50: #fff4ee;
    --yellow-100: #ffdaca;
    --yellow-200: #fdbfa4;
    --yellow-300: #ff9e72;
    --yellow-400: #eb7c47;
    --yellow-500: #de6728;
    --yellow-600: #d04900;
    --yellow-700: #aa4c1a;
    --yellow-800: #903a03;
    --yellow-900: #7f3100;
    --yellow-1000: #722c00;
    --yellow-1100: #6a2700;

    --red-50: #f9edeb;
    --red-100: #f9d9d4;
    --red-200: #fbc3bc;
    --red-300: #f4a298;
    --red-400: #e07f76;
    --red-500: #e45d54;
    --red-600: #d43e39;
    --red-700: #ba3935;
    --red-800: #a12121;
    --red-900: #8a2421;
    --red-1000: #7a211e;
    --red-1100: #6e221f;

    --black-50: #101011;
    --black-100: #131313;
    --black-200: #171718;
    --black-300: #1a1a1b;
    --black-400: #1c1c1d;
    --black-500: #232324;
    --black-600: #2e2e2f;
    --black-700: #373738;
    --black-800: #3e3e3f;
    --black-900: #444444;
    --black-1000: #474748;
    --black-1100: #4a4a4a;

    --white-50: #ffffff;
    --white-100: #fdfdfe;
    --white-200: #f8f9fa;
    --white-300: #eff1f4;
    --white-400: #e3e6eb;
    --white-500: #d5d9e0;
    --white-600: #c3cad4;
    --white-700: #b0b8c6;
    --white-800: #9ba5b7;
    --white-900: #8491a7;
    --white-1000: #6d7d96;
    --white-1100: #566885;

    --alpha-80: 0.8;
    --alpha-60: 0.6;
    --alpha-40: 0.4;
    --alpha-20: 0.2;
    --alpha-10: 0.1;
    --alpha-0: 0;

    /* Spacing Tokens */
    --spacing-0: 0rem;
    --spacing-2: 0.125rem;
    --spacing-4: 0.25rem;
    --spacing-6: 0.375rem;
    --spacing-8: 0.5rem;
    --spacing-10: 0.625rem;
    --spacing-12: 0.75rem;
    --spacing-14: 0.875rem;
    --spacing-16: 1rem;
    --spacing-18: 1.125rem;
    --spacing-20: 1.25rem;
    --spacing-24: 1.5rem;
    --spacing-28: 1.75rem;
    --spacing-32: 2rem;
    --spacing-36: 2.25rem;
    --spacing-40: 2.5rem;
    --spacing-60: 3.75rem;

    /* Corner Tokens */
    --corner-none: 0rem;
    --corner-2px: 0.125rem;
    --corner-4px: 0.25rem;
    --corner-6px: 0.375rem;
    --corner-8px: 0.5rem;
    --corner-10px: 0.625rem;
    --corner-12px: 0.75rem;
    --corner-16px: 1rem;
    --corner-24px: 1.5rem;
    --corner-rounded: 100%;

    /* Typography Tokens */
    --font-family: 'Inter', 'system-ui', 'sans-serif';
    --font-family-mono: 'DM Mono', 'Menlo', 'monospace';

    --font-size-display: 2rem;
    --font-size-title: 1.5rem;
    --font-size-heading: 1.375rem;
    --font-size-subheading: 1.25rem;
    --font-size-lead: 1.125rem;
    --font-size-body-large: 1rem;
    --font-size-body: 0.875rem;
    --font-size-caption: 0.75rem;

    --leading-display: 2.5rem;
    --leading-title: 2rem;
    --leading-heading: 1.75rem;
    --leading-subheading: 1.5rem;
    --leading-lead: 1.25rem;

    --leading-body: 1rem;
    --leading-body-tight: 1.25rem;
    --leading-body-relaxed: 1.5rem;
    --leading-body-loose: 1.75rem;

    --leading-body-large: 1.125rem;
    --leading-body-large-tight: 1.375rem;
    --leading-body-large-relaxed: 1.625rem;
    --leading-body-large-loose: 1.875rem;

    --leading-caption: 0.875rem;
    --leading-caption-tight: 1rem;
    --leading-caption-relaxed: 1.25rem;
    --leading-caption-loose: 1.5rem;
  }
}

.bg-color-gradient {
  background: linear-gradient(30deg, #77aa45cc 0%, #02583f 60%, #262626 100%);
}
