@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  :root {
    --brand-50: hsl(240, 37.5%, 96.9%);
    --brand-100: hsl(236.7, 39.1%, 91%);
    --brand-200: hsl(238.5, 74.5%, 89.2%);
    --brand-300: hsl(239, 61.7%, 81.6%);
    --brand-400: hsl(240.7, 63.4%, 74.3%);
    --brand-500: hsl(243.2, 72.5%, 70%);
    --brand-600: hsl(246, 70.5%, 64.1%);
    --brand-700: hsl(247.1, 59.6%, 58.2%);
    --brand-800: hsl(251, 55.3%, 48.2%);
    --brand-900: hsl(253.2, 63.5%, 45.1%);
    --brand-1000: hsl(249.9, 54.2%, 39.4%);
    --brand-1100: hsl(244.4, 36.6%, 36.5%);

    --green-50: hsl(110deg 23.1% 94.9%);
    --green-100: hsl(105.5deg 36.7% 84.5%);
    --green-200: hsl(105deg 36.7% 76.5%);
    --green-300: hsl(105.4deg 40.2% 63.9%);
    --green-400: hsl(104.8deg 30.6% 52%);
    --green-500: hsl(98.1deg 78.3% 34.3%);
    --green-600: hsl(97.3deg 100% 26.5%);
    --green-700: hsl(100deg 78.9% 26.1%);
    --green-800: hsl(99.1deg 100% 18%);
    --green-900: hsl(100deg 93.1% 17.1%);
    --green-1000: hsl(99.7deg 100% 15.1%);
    --green-1100: hsl(102.1deg 67.7% 19.4%);

    --blue-50: hsl(218.2deg 47.8% 95.5%);
    --blue-100: hsl(214.8deg 56.4% 89.2%);
    --blue-200: hsl(216.2deg 78.4% 85.5%);
    --blue-300: hsl(216.3deg 63.3% 76.5%);
    --blue-400: hsl(216.2deg 69.9% 66.1%);
    --blue-500: hsl(216.2deg 68.8% 59.8%);
    --blue-600: hsl(214.5deg 84.3% 50.2%);
    --blue-700: hsl(215.2deg 72.3% 45.3%);
    --blue-800: hsl(215.6deg 65.1% 37.1%);
    --blue-900: hsl(216deg 67.1% 32.2%);
    --blue-1000: hsl(215.8deg 70.3% 29%);
    --blue-1100: hsl(215.4deg 77.8% 26.5%);

    --yellow-50: hsl(21.2deg 100% 96.7%);
    --yellow-100: hsl(18.1deg 100% 89.6%);
    --yellow-200: hsl(18.2deg 95.7% 81.8%);
    --yellow-300: hsl(18.7deg 100% 72.4%);
    --yellow-400: hsl(19.4deg 80.4% 60%);
    --yellow-500: hsl(20.8deg 73.4% 51.4%);
    --yellow-600: hsl(21.1deg 100% 40.8%);
    --yellow-700: hsl(20.8deg 73.5% 38.4%);
    --yellow-800: hsl(23.4deg 95.9% 28.8%);
    --yellow-900: hsl(23.1deg 100% 24.9%);
    --yellow-1000: hsl(23.2deg 100% 22.4%);
    --yellow-1100: hsl(22.1deg 100% 20.8%);

    --red-50: hsl(8.6deg 53.8% 94.9%);
    --red-100: hsl(8.1deg 75.5% 90.4%);
    --red-200: hsl(6.7deg 88.7% 86.1%);
    --red-300: hsl(6.5deg 80.7% 77.6%);
    --red-400: hsl(5.1deg 63.1% 67.1%);
    --red-500: hsl(3.8deg 72.7% 61.2%);
    --red-600: hsl(1.9deg 64.3% 52.7%);
    --red-700: hsl(1.8deg 55.6% 46.9%);
    --red-800: hsl(0deg 66% 38%);
    --red-900: hsl(1.7deg 61.4% 33.5%);
    --red-1000: hsl(2deg 60.5% 29.8%);
    --red-1100: hsl(2.3deg 56% 27.6%);

    --black-50: hsl(240deg 3% 6.5%);
    --black-100: hsl(0deg 0% 7.5%);
    --black-200: hsl(240deg 2.1% 9.2%);
    --black-300: hsl(240deg 1.9% 10.4%);
    --black-400: hsl(240deg 1.8% 11.2%);
    --black-500: hsl(240deg 1.4% 13.9%);
    --black-600: hsl(240deg 1.1% 18.2%);
    --black-700: hsl(240deg 0.9% 21.8%);
    --black-800: hsl(240deg 0.8% 24.5%);
    --black-900: hsl(0deg 0% 26.7%);
    --black-1000: hsl(240deg 0.7% 28%);
    --black-1100: hsl(0deg 0% 29%);

    --white-50: hsl(0deg 0% 100%);
    --white-100: hsl(240deg 33.3% 99.4%);
    --white-200: hsl(210deg 16.7% 97.6%);
    --white-300: hsl(216deg 18.5% 94.7%);
    --white-400: hsl(217.5deg 16.7% 90.6%);
    --white-500: hsl(218.2deg 15.1% 85.7%);
    --white-600: hsl(215.3deg 16.5% 79.8%);
    --white-700: hsl(218.2deg 16.2% 73.3%);
    --white-800: hsl(218.6deg 16.3% 66.3%);
    --white-900: hsl(217.7deg 16.6% 58.6%);
    --white-1000: hsl(216.6deg 16.3% 50.8%);
    --white-1100: hsl(217deg 21.5% 42.9%);

    --alpha-80: 0.8;
    --alpha-60: 0.6;
    --alpha-40: 0.4;
    --alpha-20: 0.2;
    --alpha-10: 0.1;
    --alpha-0: 0;

    /* Spacing Tokens */
    --spacing-2px: 0.125rem;
    --spacing-4px: 0.25rem;
    --spacing-6px: 0.375rem;
    --spacing-8px: 0.5rem;
    --spacing-10px: 0.625rem;
    --spacing-12px: 0.75rem;
    --spacing-14px: 0.875rem;
    --spacing-16px: 1rem;
    --spacing-18px: 1.125rem;
    --spacing-20px: 1.25rem;
    --spacing-24px: 1.5rem;
    --spacing-28px: 1.75rem;
    --spacing-32px: 2rem;
    --spacing-36px: 2.25rem;
    --spacing-40px: 2.5rem;
    --spacing-60px: 3.75rem;

    /* Corner Tokens */
    --corner-2px: 0.125rem;
    --corner-4px: 0.25rem;
    --corner-6px: 0.375rem;
    --corner-8px: 0.5rem;
    --corner-10px: 0.625rem;
    --corner-12px: 0.75rem;
    --corner-16px: 1rem;
    --corner-24px: 1.5rem;
    --corner-rounded: 100%;

    /* Typography Tokens */
    --font-family: 'Inter', 'system-ui', 'sans-serif';
    --font-family-mono: 'DM Mono', 'Menlo', 'monospace';

    --font-size-display: 2rem;
    --font-size-title: 1.5rem;
    --font-size-heading: 1.375rem;
    --font-size-subheading: 1.25rem;
    --font-size-lead: 1.125rem;
    --font-size-body-large: 1rem;
    --font-size-body: 0.875rem;
    --font-size-caption: 0.75rem;

    --leading-display: 2.5rem;
    --leading-title: 2rem;
    --leading-heading: 1.75rem;
    --leading-subheading: 1.5rem;
    --leading-lead: 1.25rem;

    --leading-body: 1rem;
    --leading-body-tight: 1.25rem;
    --leading-body-relaxed: 1.5rem;
    --leading-body-loose: 1.75rem;

    --leading-body-large: 1.125rem;
    --leading-body-large-tight: 1.375rem;
    --leading-body-large-relaxed: 1.625rem;
    --leading-body-large-loose: 1.875rem;

    --leading-caption: 0.875rem;
    --leading-caption-tight: 1rem;
    --leading-caption-relaxed: 1.25rem;
    --leading-caption-loose: 1.5rem;

    /* blue-600 and alpha-60 */
    --ring-interface-focus: hsla(214.5, 84.3%, 50.2%, 0.6);

    /* black-50 and alpha-10 */
    --shadow-button-hover: hsla(240, 3%, 6.5%, 0.1);
    --shadow-surface-raised: var(--white-300);
    --shadow-surface-overlay: var(--white-600);
  }
}
